@import "settings";
@import "foundation";

$color-xxsmall: #FBB735;
$color-xsmall: #E98931;
$color-small: #EB403B;
$color-medium: #B32E37;
$color-large: #6C2A6A;
$color-xlarge: #5C4399;
$color-xxlarge: #274389;

$base-size-px: 16px;

$xxsmall-breakpoint-px: $xxsmall-breakpoint/(1em) * $base-size-px;
$xsmall-breakpoint-px: $xsmall-breakpoint/(1em) * $base-size-px;
$small-breakpoint-px: $small-breakpoint/(1em) * $base-size-px;
$medium-breakpoint-px: $medium-breakpoint/(1em) * $base-size-px;
$large-breakpoint-px: $large-breakpoint/(1em) * $base-size-px;
$xlarge-breakpoint-px: $xlarge-breakpoint/(1em) * $base-size-px;


.vertical-guide {
  position: fixed;
  z-index: 10000;
  top: 0;
  bottom: 0;
  width: 10px;
  opacity: 0.5;
}

div#status:before {
  font-size: 2em;
  font-weight: bolder;
}

ul#breakpoints {
  list-style: none;

  li#bp-xxsmall:before {
    content: "xxsmall-breakpoint: #{$xxsmall-breakpoint}"
  }
  li#bp-xsmall:before {
    content: "xsmall-breakpoint: #{$xsmall-breakpoint}"
  }
  li#bp-small:before {
    content: "small-breakpoint: #{$small-breakpoint}"
  }
  li#bp-medium:before {
    content: "medium-breakpoint: #{$medium-breakpoint}"
  }
  li#bp-large:before {
    content: "large-breakpoint: #{$large-breakpoint}"
  }
  li#bp-xlarge:before {
    content: "xlarge-breakpoint: #{$xlarge-breakpoint}"
  }
}

div#grid > * {
  height: 4em;
  outline: 0.2em solid #fff;
  text-align: center;
  color: white;
  font-weight: bold;
}

#guide-xxsmall-breakpoint {
  left: $xxsmall-breakpoint-px - 10px;
  background-color: $color-xxsmall;

  &:after {
    content: "_#{$xxsmall-breakpoint-px}";
  }
}

#guide-xsmall-breakpoint {
  left: $xsmall-breakpoint-px - 10px;
  background-color: $color-xsmall;

  &:after {
    content: "_#{$xsmall-breakpoint-px}";
  }
}

#guide-small-breakpoint {
  left: $small-breakpoint-px - 10px;
  background-color: $color-small;

  &:after {
    content: "_#{$small-breakpoint-px}";
  }
}

#guide-small-breakpoint {
  left: $small-breakpoint-px - 10px;
  background-color: $color-small;

  &:after {
    content: "_#{$small-breakpoint-px}";
  }
}
#guide-medium-breakpoint {
  left: $medium-breakpoint-px - 10px;
  background-color: $color-medium;

  &:after {
    content: "_#{$medium-breakpoint-px}";
  }
}
#guide-large-breakpoint {
  left: $large-breakpoint-px - 10px;
  background-color: $color-large;

  &:after {
    content: "_#{$large-breakpoint-px}";
  }
}
#guide-xlarge-breakpoint {
  left: $xlarge-breakpoint-px - 10px;
  background-color: $color-xlarge;

  &:after {
    content: "_#{$xlarge-breakpoint-px}";
  }
}

@media #{$large-only} { }

@media #{$xxsmall-up} { }
@media #{$xxsmall-only} {
  h1 {
    color: $color-xxsmall;
  }
  div#status:before {
    content: "xxsmall-only";
    color: $color-xxsmall;
  }
  div#grid > * {
    background-color: $color-xxsmall;
    color: white;
    font-weight: bold;
  }
  html {
    font-size: 1rem;
  }
}

@media #{$xsmall-up} { }
@media #{$xsmall-only} {
  h1 {
    color: $color-xsmall;
  }
  div#status:before {
    content: "xsmall-only";
    color: $color-xsmall;
  }
  div#grid > * {
    background-color: $color-xsmall;
  }
}

@media #{$small-up} { }
@media #{$small-only} {
  h1 {
    color: $color-small;
  }
  div#status:before {
    content: "small-only";
    color: $color-small;
  }
  div#grid > * {
    background-color: $color-small;
  }
}

@media #{$medium-up} { }
@media #{$medium-only} {
  h1 {
    color: $color-medium;
  }
  div#status:before {
    content: "medium-only";
    color: $color-medium;
  }
  div#grid > * {
    background-color: $color-medium;
  }
}

@media #{$large-up} { }
@media #{$large-only} {
  h1 {
    color: $color-large;
  }
  div#status:before {
    content: "large-only";
    color: $color-large;
  }
  div#grid > * {
    background-color: $color-large;
  }
}

@media #{$xlarge-up} { }
@media #{$xlarge-only} {
  h1 {
    color: $color-xlarge;
  }
  div#status:before {
    content: "xlarge-only";
    color: $color-xlarge;
  }
  div#grid > * {
    background-color: $color-xlarge;
  }
  html {
    font-size: 1.25rem;
  }
}

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} {
  h1 {
    color: $color-xxlarge;
  }
  div#status:before {
    content: "xxlarge-only";
    color: $color-xxlarge;
  }
  div#grid > * {
    background-color: $color-xxlarge;
  }
  html {
    font-size: 1.5rem;
  }
}
